html {
	width: 100%;
}

*{
  font-family:Courier;
}

.center{
	border: 1px solid;
	width: 50%;
	margin: auto;
	padding: 10px;
	text-align: center;
}

h2{
	text-align: center;
}

.tab{
	position: relative;
	width: 32%;
	float: left;
	margin-left: 0px;
}

.mainTab{
	border: 1px solid;
	width: 90%;
	margin: auto;
	padding: 20px;
	text-align: center;
	padding-top: 10px;
}

canvas{
	margin: 0 auto;
	display: block;
	margin-top: 10px;
}

#afterGame{
	display:none;
}
